.body	{
	height: 600px
	width: 1100px;
	background-color: #555555;

}

.header {	
	height: 100px;
	background-color: #aaaaaa;
	text-align: center;
}

.main {
	height: 500px;
	width: 1000px;
	background-color: #999;
	font-size: 20px;
	/*margin: 0 auto;*/
	

}
.box1 {
	height: 50px;
	width: 50px;
	color: #fff;
	background-color: #062;
	margin: 0 auto;
}

.box2 {
	height: 50px;
	width: 50px;
	color: #fff;
	background-color: #026;
	float: none;
	clear: all;
	margin: 0 auto;

}

.box3 {
	height: 50px;
	width: 50px;
	color: #fff;
	background-color: #012;
	margin: 0 auto;

}

.box4 {
	height: 50px;
	width: 50px;
	color: #fff;
	background-color: #012;
	margin: 0 auto;

}

.footer {
	height: 100px;
	background-color: #aaaaaa;
	text-align: center;
}

.name {
	height: 100px;
	margin-left: 60px;
	font-size: 20px;
	color: #fff;
	/*padding: 30px;*/
	font-weight: bolder;
	display: inline-block;
	background-color: #4aaaa5;
	float: left;
}

.nav {
/*	font-size: 20px
	height: 60px;
	line-height: 30px;*/
	float: right;
	padding-right: 20px;
	background-color: #ffffff;
	font-family: 'Helvetica';
}